mixin tags(tag)
	i.fa.fa-hashtag.listcontent.content-nav= tag

if is_home()
	- var posts=page.posts.toArray()
	- var indexpost=posts[0]
	.section
		h5.contenttitle= indexpost.title
		.section
			.span
				i.fa.fa-calendar.listcontent.content-nav.contenttime= full_date(indexpost.date,'MMMM Do YYYY, h:mm:ss a')
				//- i.fa.fa-hashtag.listcontent.content-nav= indexpost.tags.toArray()[0].name
				each tag in indexpost.tags.toArray()
					+tags(tag.name)
				i.fa.fa-commenting.listcontent.content-nav Comments
		.divider
		.section
			div
				!=indexpost.content
else if is_post()
	.section
		h5.contenttitle= page.title
		.section
			.span
				i.fa.fa-calendar.listcontent.content-nav.contenttime= full_date(page.date,'MMMM Do YYYY, h:mm:ss a')
				//- i.fa.fa-hashtag.listcontent.content-nav= indexpost.tags.toArray()[0].name
				each tag in page.tags.toArray()
					+tags(tag.name)
				i.fa.fa-commenting.listcontent.content-nav Comments
		.divider
		.section
			div
				!=page.content

