include ../mixins/m_tags
include ../mixins/m_comment
include comment

if is_home()
	- var posts=page.posts.toArray()
	- var indexpost=posts[0]
	.section
		h3.contenttitle= indexpost.title
		.section
			.span
				i.fa.fa-calendar.listcontent.content-nav.contenttime= full_date(indexpost.date,'YYYY-MM-DD H:mm')
				//- i.fa.fa-hashtag.listcontent.content-nav= indexpost.tags.toArray()[0].name
				each tag in indexpost.tags.toArray()
					+tags(tag.name)
				i.fa.fa-commenting.listcontent.content-nav.go2comments 
					a(href="#article-comment") Comments
		.divider
		.section
			div.markdown-body
				!=indexpost.content
		.divider
		+comment(indexpost)
else if is_post()
	.section
		h3.contenttitle= page.title
		.section
			.span
				i.fa.fa-calendar.listcontent.content-nav.contenttime= full_date(page.date,'YYYY-MM-DD H:mm')
				//- i.fa.fa-hashtag.listcontent.content-nav= indexpost.tags.toArray()[0].name
				each tag in page.tags.toArray()
					+tags(tag.name)
				i.fa.fa-commenting.listcontent.content-nav Comments
		.divider
		.section
			div.markdown-body
				!=page.content
		.divider
		+comment(page)

